.Admin {
  display: flex;
  justify-content: space-evenly;
  .links {
    display: column;
    border-right: 3px solid white;
    div {
      padding-top: 2rem;
      a {
        text-decoration: none;
        font-size: 1.8rem;
        padding: 2rem;
        color: white;
        &:hover {
          color: rgb(137, 135, 135);
        }
      }
    }
  }
  .Projects {
    display: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    .content {
      width: 50%;
      margin: auto;
      margin-top: 3rem;
      display: column;
      // border: 1px solid #ccc;w
      box-shadow: 0 4px 8px 0 rgba(248, 248, 248, 0.981),
        0 6px 20px 0 rgba(253, 252, 252, 0.983);
    }
  }

  .Members {
    display: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    // background-image: linear-gradient(to right, rgb(242, 226, 226) , rgb(234, 234, 212));
    width: 100%;
    .search{
      input{
        width: 30%;
        height: 2rem;
        font-size: 18px;
        padding-left: 1.5em;
        background-color: transparent;
      }
    }
    .users {
      width: 90%;
      margin: auto;
      margin-top: 3rem;
      display: column;
      border: 1px solid #ccc;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
      .user {
        width: 100%;
        display: flex;
        justify-content: space-between;
        border: 1px solid #fff;
        height: 2rem;
        place-items: center;
        &:hover {
          background-color: rgb(249, 249, 246);
        }

        .edit {
          width: 100%;
          display: flex;
          .avatar {
            width: 18%;
            img{
              width: 30px;
              border-radius: 50%;
            }
          }
          .name {
            border: none;
            background-color: transparent;
            padding-left: 1rem;
            width: 25%;
            text-align: left;
            color: rgb(94, 93, 93);
            font-size: 20px;
          }
          .email {
            width: 25%;
            border: none;
            background-color: transparent;
            padding-left: 1rem;
            text-align: left;
            color: rgb(94, 93, 93);
            font-size: 20px;
          }
          .save {
            font-size: 1.2rem;
            color: rgb(94, 93, 93);
            margin: 0;
            &:hover {
              color: white;
            }
          }
        }
        .item {
          width: 100%;
          display: flex;
          justify-content: space-around;
          .avatar {
            width: 18%;
            img{
              width: 30px;
              border-radius: 50%;
              &:hover {
                width: 60px;
              }
            }
          }
          .name {
            width: 30%;
            text-align: left;
          }
          .email {
            width: 60%;
            text-align: left;
          }
        }
        .icons {
          display: flex;
          justify-content: right;
          padding-right: 1rem;
          .icon {
            color: gray;
            &:hover {
              color: white;
            }
          }
        }
      }
    }
  }
}
