* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(230, 226, 219);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.Home {
  display: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  img{
    box-shadow: 1px 1px 2px white, 0 0 15px white, 0 0 15px white;
    border: 1px solid white;
  }
}

.App {
  text-align: center;
  color: rgb(63, 62, 62);
  // background-color: rgb(230, 226, 219);
  width: 100%;
  height: 100vh;
  link {
    color: #61dafb;
  }
  button {
    font-size: calc(10px + 2vmin);
  }

  header {
    height: 10vh;
    border-bottom: 2px solid #ccc;
  }
  main {
    min-height: 70vh;
    padding-bottom: 1rem;
  }
  footer {
    display: column;
    padding-top: 1rem;
    height: 7vh;
    border-top: 2px solid #ccc;
  }

  nav {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 2rem;

    a {
      text-transform: uppercase;
      text-decoration: none;
      color: rgb(98, 100, 95);
      font-weight: bold;
      font-size: 25px;
    }
     a.active {
        color: #fff;
      }
  }

  .errors {
    color: red;
    font-weight: bold;
  }
  .NotFound {
    display: column;
    place-items: center;
    width: 100%;
    color: white;
    padding: 3rem;
    .light {
      background: radial-gradient(
        circle closest-corner at 1421px 46px,
        rgba(0, 0, 0, 0.2) 0%,
        rgba(0, 0, 0, 0.9) 66%
      );

      // position: absolute;
      // position:fixed;
      // top:0px;
      // left:0px;
      // height:100%;
      // width:100%;
      // background: #2f2e30;
      // background:
      // radial-gradient(
      //  at center, #a0a0a1, #302f30
      // );
    }
    img {
      opacity: 1;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: opacity 0.2s ease-in;
      border-style: none;
    }
    h2 {
      font-family: -apple-system, BlinkMacSystemFont, San Francisco,
        Helvetica Neue, Helvetica, Ubuntu, Roboto, Noto, Segoe UI, Arial,
        sans-serif;
      font-weight: bold;
      font-size: 2.7rem;
      text-shadow: 1px 1px 2px black, 0 0 15px white, 0 0 15px white;
    }
    p {
      font-size: 0.8rem;
      padding: 1rem;
    }
    a {
      border-radius: 5px;
      font-size: 0.7rem;
      color: rgb(29, 27, 27);
      background-color: #fff;
      text-decoration: none;
      padding: 0.7rem 1.3rem;
      text-shadow: 1px 1px 2px black, 0 0 15px white, 0 0 15px white;
      &:hover {
      box-shadow: 1px 1px 2px white, 0 0 15px white, 0 0 15px white;
      text-shadow: 1px 1px 2px black, 0 0 15px white, 0 0 15px white;

      }
    }
  }
}
