.Posts {
  width: 100%;
  display: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 3rem;
  .content {
    width: 80%;
    margin: auto;
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    .post {
      width: 26%;
      border: 1px solid rgb(250, 249, 249);
      padding: 2%;
      margin: 3.2%;
      box-shadow: 0 4px 8px 0 rgb(248, 247, 247),
        0 6px 20px 0 rgb(228, 207, 207);
      img {
        width: 8rem;
        margin-bottom: 2rem;
      }
      a {
        text-decoration: none;
        color: rgb(183, 180, 180);
        text-shadow: 1px 1px 2px #000000;
        &:hover {
          color: #fff;
          text-shadow: 2px 1px 2px #fff;
        }
      }
    }
  }
}
.avatar {
  width: 3rem;
  border-radius: 50%;
}

.Details {
  color: rgb(50, 49, 49);
  margin-top: 3rem;
  .title {
    padding: 1em;
  }
  .author {
    padding: 1em;
  }
  .add-comment {
    input {
      width: 60%;
      height: 2rem;
      background-color: transparent;
      margin: 1rem;
      padding-left: 1rem;
    }
    button {
      font-size: 14px;
      height: 1.8rem;
      background: none;
    }
  }

  .comments {
    padding: 20px;
    border: 2px solid #ccc;
    .comment {
      padding: 3px;
      border: 1px solid #ccc;
      display: flex;
      place-items: center;
      .avatar {
        padding: 0.1em;
      }
      .name {
        margin-left: 0.5em;
        display: flex;
        width: 7%;
      }
      .description {
        width: 80%;
        text-align: left;
      }
    }
  }
}
